@keyframes slidy {
	0% { left: 0%; }
	10% { left: 0%; }
	15% { left: -100%; }
	25% { left: -100%; }
	30% { left: -200%; }
	40% { left: -200%; }
	45% { left: -300%; }
	55% { left: -300%; }
	60% { left: -400%; }
	70% { left: -400%; }
	75% { left: -500%; }
	85% { left: -500%; }
	100% { left: 0%; }
}

@-webkit-keyframes slidy {
	0% { left: 0%; }
	10% { left: 0%; }
	15% { left: -100%; }
	25% { left: -100%; }
	30% { left: -200%; }
	40% { left: -200%; }
	45% { left: -300%; }
	55% { left: -300%; }
	60% { left: -400%; }
	70% { left: -400%; }
	75% { left: -500%; }
	85% { left: -500%; }
	100% { left: 0%; }
}

@media only screen and (max-width: 479px) {
	div#slider {
		width: 80%;
		max-width: 213px;
		overflow: hidden;
		margin: auto;
	}

	div#slider figure a {
		float: left;
		width: 16.66%;
		height: 120px;
	}

	a.image_main {
		background: url(../images/mewui1_200.jpg) 0 0 no-repeat;
	}

	a.image_info {
		background: url(../images/mewui3_200.jpg) 0 0 no-repeat;
	}

	a.image_systems {
		background: url(../images/mewui2_200.jpg) 0 0 no-repeat;
	}

	a.image_hystory {
		background: url(../images/mewui4_200.jpg) 0 0 no-repeat;
	}

	a.image_mameinfo {
		background: url(../images/mewui5_200.jpg) 0 0 no-repeat;
	}

	a.image_swhystory {
		background: url(../images/mewui6_200.jpg) 0 0 no-repeat;
	}
}
@media only screen and (min-width: 480px) {
	div#slider {
		width: 80%;
		max-width: 400px;
		overflow: hidden;
		margin: auto;
	}

	div#slider figure a {
		float: left;
		width: 16.66%;
		height: 225px;
	}

	a.image_main {
		background: url(../images/mewui1_400.jpg) 0 0 no-repeat;
	}

	a.image_info {
		background: url(../images/mewui3_400.jpg) 0 0 no-repeat;
	}

	a.image_systems {
		background: url(../images/mewui2_400.jpg) 0 0 no-repeat;
	}

	a.image_hystory {
		background: url(../images/mewui4_400.jpg) 0 0 no-repeat;
	}

	a.image_mameinfo {
		background: url(../images/mewui5_400.jpg) 0 0 no-repeat;
	}

	a.image_swhystory {
		background: url(../images/mewui6_400.jpg) 0 0 no-repeat;
	}
}

div#slider figure {
  position: relative;
  width: 600%;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
  -webkit-animation: 30s slidy infinite;
}

