@media only screen and (max-width: 479px) {
	div#slider {
		width: 80%;
		max-width: 213px;
		overflow: hidden;
		margin: auto;
	}
	.image_main {
		background-image: url('../images/mewui1_200.jpg');
	}
	.image_info {
		background-image: url('../images/mewui2_200.jpg');
	}
	.image_systems {
		background-image: url('../images/mewui3_200.jpg');
	}
	.image_hystory {
		background-image: url('../images/mewui4_200.jpg');
	}
	.image_mameinfo {
		background-image: url('../images/mewui5_200.jpg');
	}
	.image_swhystory {
		background-image: url('../images/mewui6_200.jpg');
	}
}

@keyframes slidy {
	0% { left: 0%; }
	10% { left: 0%; }
	15% { left: -100%; }
	25% { left: -100%; }
	30% { left: -200%; }
	40% { left: -200%; }
	45% { left: -300%; }
	55% { left: -300%; }
	60% { left: -400%; }
	70% { left: -400%; }
	75% { left: -500%; }
	85% { left: -500%; }
	100% { left: 0%; }
}

@-webkit-keyframes slidy {
	0% { left: 0%; }
	10% { left: 0%; }
	15% { left: -100%; }
	25% { left: -100%; }
	30% { left: -200%; }
	40% { left: -200%; }
	45% { left: -300%; }
	55% { left: -300%; }
	60% { left: -400%; }
	70% { left: -400%; }
	75% { left: -500%; }
	85% { left: -500%; }
	100% { left: 0%; }
}

div#slider {
	width: 80%;
	max-width: 400px;
	overflow: hidden;
	margin: auto;
}

div#slider figure img {
	width: 16.66%;
	float: left;
}

div#slider figure {
  position: relative;
  width: 600%;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
  -webkit-animation: 30s slidy infinite;
}
